body{
background-color:#e6e6e6;
}
.sub{
background-color:red;
}
.r2{
position:relative;
top:50px;
}
.title{
background-color:#2874f0;
position:relative;
}
.lk{
position:relative;
padding-left:1200px;
}
.cl{
color:#2874f0;
}