body{
background-color:#FFF;
background: url('/static/images/gad.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.main{
height:400px;
position:relative;
top:100px;
left:10%;
background-color:#f0f0f0;
color:#4a4a4a;
}
.btn{
width:90%;
position:relative;
left:2%;
}
h1{
text-align:center;
}
.m2{
position:relative;
top:20px;
}
