body{
background-color:#e6e6e6;
background: url('/static/images/img1.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.main{
background-color:#4a4a4a;
color:white;
height:400px;

}
.r1{
position:relative;
top:150px;
}
.sub{
position:relative;
left:30%;
}
h1{
text-align:center;
}
.btn{
position:relative;
top:20px;
left:6%;
}
