<!DOCTYPE html>
{%extends 'mobile/base2.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        {%for cart in cart_item%}
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{cart.product.image.url}}" alt="..." height="224px" width="112px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{cart.product}}</h5>
                            <p class="card-text">{{cart.product.specs}}</p>
                            <p class="card-text">₹{{cart.product.price}}</p>
                            <a href="{%url 'remove' cart.id%}" class="btn btn-outline-danger">Remove</a>
                            <a href="{%url 'order_product' cart.id%}" class="btn btn-outline-primary">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">Price Details</h5>
                    <p class="card-text">Price: {{cart.product.price}}</p>
                    <p class="card-text">Item Qty: *{{cart.qty}}</p>
                    <p class="card-text">Total Price: ₹{{cart.total_price}}</p>

                </div>
            </div>

        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}