<!DOCTYPE html>
{%extends 'mobile/base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Product Name: {{mobile.product_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Product Specs: {{mobile.specs}}</h6>
                    <p class="card-text">Product Price: ₹{{mobile.price}}</p>
                    <a href="{%url 'product_detail'%}" class="card-link">Back</a>
                    <a href="{%url 'add_product'%}" class="card-link">Add</a>
                    <a href="{%url 'update_mobile' mobile.id%}" class="card-link">Update</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}